#####################################################################
                  Example HAProxy Configuration File 
#####################################################################

#####################################################################
                        Global Settings
#####################################################################

global
    log                         /dev/log local0
    chroot                      /var/lib/haproxy
    pidfile                     /var/run/haproxy.pid
    maxconn                     4000
    user                        haproxy
    group                       haproxy
    daemon
    stats                       socket /var/lib/haproxy/stats

defaults
    mode                        http
    log                         global
    option                      httplog
    option                      dontlognull
    option http-server-close
    option forwardfor 
    option                      redispatch
    retries                     3
    timeout http-request        10s
    timeout queue               1m
    timeout connect             10s
    timeout client              1m
    timeout server              1m
    timeout http-keep-alive     10s
    timeout check               10s
    maxconn                     3000
    
###################################################################
                  Fronted and Backend Declarations
###################################################################
fronted <name-fronted>
        bind <ip-address-to-listen>:<port-to-listen> # You can use an wildcard '*' 
        default_backend <name-backend-to-use>
        mode <tcp | http | health>
        option tcplog
 
backend <name-backend>
        balance <roundrobin | source | uri >
        mode < tcp | http | healtz >
        server <ip-address-or-fdqn-backend-servers> # You should add this declaration for each server available on the backend

###################################################################
 In the previous declaration, you can set diferents fronteds and
 backends
###################################################################
        
###################################################################
                      Listens Declaration (Statistics)
###################################################################
listen stats
bind <ip-address-to-listen>:<port-to-listen>
mode http
stats enable 
stats uri /
